body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.input-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.input-group input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.signin-link {
    text-align: center;
    margin-top: 20px;
}

.signin-link a {
    font-size: 20px;
    color: #007BFF;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}
/* for sign in pages */
h1 {
    text-align: center;
    color: #333;
}

.signin-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    font-size: 20px;
    width: 600px;
}

.input-group label {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.input-group input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    font-size: 20px;
    color: #007BFF;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* profile */

body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
    }

    .container {
        max-width: 625px;
        margin: 20px auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }